body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
}

.header-logo div {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto' arial;
}

/* hero part */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero1 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero1 p {
    font-family: 'Roboto', arial;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.image-woman img {
    width: 500px;
    height: 300px;
}

/* 2nd block */

.content {
    display: flex;
    flex-direction: column;
}

h2 {
    justify-content: center;
}

.content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    border: #3882f6 solid 4px;
    border-radius: 8px;
}

/* 3rd block */

.paragraph {
    display: flex;
    background-color: #e5e7eb;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.paragraph p {
    display: flex;
    width: 1050px;
    height: 140px;
    font-size: 36px;
    margin:0;
    color: #1F2937
}

.paragraph b {
    display: flex;
    margin-top: 100px;
    margin-left: -120px;
    color: #1F2937;
}

/* 4th block */

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.call-to-action {
    display: flex;
    align-items: center;
    flex-basis: 600px;
    padding: 20px 210px;
    background-color: #3882f6;
    border-radius: 5px;
}

.inside-content h4 {
    color: #fff;
}

.inside-content {
    text-align: left;
    margin-left: -70px;
}

.inside-content p {
    margin-top: -15px;
    color: #e5e7eb;
}

.button button {
    margin-right: -500px;
    background-color: #3882f6;
    border-color: #F9FAF8;
    border-radius: 7px;
    padding: 7px 25px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    height: 80px;
}